/*Selector de ID*/
#tituloPrincipal {
    color:#82cade;
    font-size: 50px;
}

.parrafoNegrita{
    font-weight: bold;
    color:aquamarine;
}

.parrafoEspecial{
    font-family: ComicSans MS;
}

.prioridad1{
    color: red;
}

.prioridad2{
    color: green;
}

p{
    word-spacing: 5px;
}

.ejemploCajas{
    border: 2px solid black;
    /*1 parametro aplica los 4 lados*/
    /*padding-top: 10px;
    
    
    /*2 parametro =top/bottom - left/right*/
    /*padding:20px 10px;
    
    /*3 parametro =top - bottom - left/right*/
    /*padding:20px 10px 15px;
 
    /*4 parametro= top - bottom - left - right*/
    padding:20px 10px 15px 30px;
    margin: 20px 10px 15px 30px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
a:link{
    color: crimson;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    border-radius: 25px;
        
}
a:visited{
    color:black;
}

a:hover{
    color:white;
    background-color: green;
    transition: 1.5s
}

a:active{
    color:white;
    background-color: purple;
}
